.docs {
    background: #E5F3EB;
    font-size: 16px;
}
.docs .grid {
    background: #fff;
    padding: 0 30px;
    min-height: 730px;
}

h1.docs-title {
    font-size: 30px;
    border-bottom: 2px solid #01853D;
    padding-bottom: 10px;
    margin-bottom: 40px;
    font-weight: normal;

}
ul.toc {
    overflow: hidden;
    list-style-type: none;
    margin: 18px 0 20px 0;
    padding: 0;
}
ul.toc ul {
    list-style-type: none;
    padding: 0;
}

ul.toc li a, ul.toc li span {
    padding: 6px 10px;
    display: block;
    width: 100%;
    height: 100%;
    color: #000000;
    border-left: 8px solid #E5F3EB;
    -border-right: 2px solid #B68181;
    -margin-bottom: 3px;
}
ul.toc li.tocheader {
    margin-top: 3px;
}
ul.toc li a.active {
    border-left-color: #01853D;
    -border-right-color: #E5F3EB;
    background: #E5F3EB;
}
ul.toc li a:hover {
    border-left-color: #01853D;
}
ul.toc li.tocheader span {
    background: #01853D;
    border-left-color: #01853D;
    -border-right-color: #B68181;
    color: #fff;
}
ul.toc li li a {
    padding-left: 40px;
}

.docs-content a {
    color: #01853D;
}
.docs-content img {
    max-width: 100%;
}
.docs-content pre {
    padding: 4px 10px;
    background: #E5F3EB;
    color: #533;
    border-radius: 3px;
    border: 1px solid #01853D;
}
pre,code {
    font-family: 'Ubuntu Mono', Monospace;
    font-size: 14px
}
code {
    color: #555555;
    background: #E5F3EB;
    padding: 2px 4px;
    border-radius:2px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


table {
    background: none repeat scroll 0 0 #FFFFFF;
    border-collapse: collapse;
    margin: 0px;
    text-align: left;
}

th {
    border-bottom: 2px solid #01853D;
    color: #01853D;
    font-weight: bold;
    padding: 10px 8px;
}

td {
    border-bottom: 1px solid #01853D;
    color: #000000;
    padding: 6px 8px;
}


